@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: "Pixelify Sans", sans-serif;
}
body {
    background-color: #222;
    color: white;
    padding: 20px;
    background-image: url('/img/camo.jpg');
    background-repeat:initial ;
  }

  .game-header{
    height: 120px;

  }
  

h1{
    width:fit-content;
    margin: auto auto 30px auto;
    color: rgb(114, 20, 20);
    font-size: 35px;
    padding: 10px 20px;
    background-color:#959595;
    border: #c2c2c2 4px outset;
    animation: bigger 3s infinite;

}

.board-row{
    display: flex;
}

.board{
    background-color: rgb(4, 47, 84);
    width: fit-content;
    width:fit-content;
    background-color:#959595;
    border: #c2c2c2 4px outset;
    padding: 3px;
    margin: auto;
}

.cell{
    width: 25px;
    height: 25px;
    margin: 3px;
    background-color:#959595;
    display:flex;
    align-items: center;
    justify-content: center;
    border: #c2c2c2 4px outset;
}

.uncovered{
    background-color:#2e4057;
    border: #2e4057 4px solid;


}

.game-icon{
    width: 20px;
}

/* ANIMACIONES */

@keyframes bigger {
    50% {font-size: 50px;}
  }