*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #222;
    color: white;
    padding: 20px;
}

h1{
    width:fit-content;
    margin: auto auto 30px auto;
}

.cell{
    width: 30px;
    height: 30px;
    margin: 3px;
    background-color:#DD2D4A;
    display:flex;
    align-items: center;
    justify-content: center;
}
.board-row{
    display: flex;
}

.board{
    background-color: rgb(4, 47, 84);
    width: fit-content;
    margin: auto;
    width:fit-content;
}